#sort-by {
    text-align: center;
    font-size: 0.7em;
    border: 0.1em solid black;
    width: 5em;
    margin: 1em auto;
    margin-bottom: 2em;
    padding: 0.5em;
}
#sort-by span {
    font-size: 0.5em;
    margin-left: 2em;
}

.item {
    display: inline-block;
    margin: 0 5%;
    margin-bottom: 1em;
}
.item, #sort-by span {
    cursor: pointer;
}
.item p {
    margin-top: 0.5em;
    font-size: 0.7em;
    text-align: center;
}
.price {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 400px) {
    .item {
        margin-left: 2%;
        margin-right: 1%;
    }
    .item p {
        font-size: 0.9em;
    }
}