* {
    font-family: "Segoe UI";
}

/***********Header***********/
header {
    border-top-width: 0;
}

header h1 {
    color: white;
    text-align: center;
    padding: 0.2em 0 0.4em;
    font-size: 1.2em;
    font-weight: normal;
    width: 100%;
}

#menu, #logo, #profile, #cart, #search {
    display: inline-block;
    text-indent: -99999em;
}
#menu, #profile, #cart, #search{
    position: absolute;
    cursor: pointer;
}
#profile, #cart, #search {
    height: 2em;
    width: 2em;
    top: 4.3em;
}
#menu {
    height: 2.5em;
    width: 2.5em;
    top: 4em;
    background: url(../Images/menu-m.png) no-repeat center;
}
#logo {
    margin-left: 15%;
    height: 6em;
    width: 13em;
    background: url(../Images/logo-s.png) no-repeat left;
}
#profile {
    background: url(../Images/profile-s.png) no-repeat center;
    display: none;
}
#cart {
    right: 5%;
    background: url(../Images/shopping-cart-s.png) no-repeat center;
}
#search {
    right: 15%;
    background: url(../Images/search-s.png) no-repeat center;
}

#pop-up-menu {
    background-color: #404040;
    height: 100%;
    width: 75%;
    position: absolute;
    top: 0;
    right: 25%;
    text-align: center;
    overflow: hidden;
    display: none;
    z-index: 2;
}
#pop-up-menu h3 {
    text-indent: -99999em;
}
#pop-up-menu a {
    background-color: white;
    font-size: 0.75em; 
    font-weight: bold; 
    border-top: 0.15em solid black;
    padding: 1em 0.5em;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
#pop-up-menu a:hover {
    background-color: grey;
}

#profile-picture {
    height: 5em;
    width: 5em;
    background: url(../Images/profile-picture-s.png) no-repeat left;
}
#pop-up-menu p {
    color: white;
    font-size: 0.75em;
    position: absolute;
    top: 2.5em;
    left: 6em;
}
#pop-up-menu #close {
    position: absolute;
    top: 0.5em;
    left: 90%;
    height: 0.9em;
    width: 1em;
    text-align: center;
    font-size: 1em;
    border: 0.15em solid black;
    border-radius: 0.2em;
    color: black;
    cursor: pointer;
}
/***********Header***********/

/***********Footer***********/
footer {
    color: white;
}

footer h6 {
    font-size: 0.7em; 
    margin-left: 2em;
    margin-bottom: 1em;
}

#contact {
    padding-top: 2em;
}
#copyright {
    margin-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/***********Footer***********/

@media only screen and (min-width: 600px){
    #logo {
        margin-left: 35%;
        background-position: center;
    }
}

@media only screen and (min-width: 700px) {
    #profile, #cart {
        top: 3.5em;
    }
    #menu {
       display: none;
    }
    #logo {
        margin-left: 0;
        height: 8em;
        width: 16em;
        background: url(../Images/logo-m.png) no-repeat left;
    }
    #cart {
        right: 3%
    }
    #profile {
        display: inline-block;
        right: 8%;
    }
    #search {
        width: 20%;
        top: 3.5em;
        right: 14%;
        border: 0.1em solid black;
        border-radius: 0.5em;
        background-position: right;
    }
        
    #profile-picture, #pop-up-menu p {
        display: none;
    }
    
    #pop-up-menu {
        display: block;
        top: 6.7em;
        right: 3%;
        height: 2.5em;
        width: auto;
        background-color: white;
    }
    #pop-up-menu a {
        display: inline-block;
        border: 0.1em solid black;
        margin-left: 0.3em;
        font-size: 0.45em;
        height: 1em;
        width: 8.5em;
        padding: 1em 0 0.5em;
    }
    #profile-nav {
        visibility: hidden;
    }
}

@media only screen and (min-width: 730px) {
    #pop-up-menu a {
        font-size: 0.5em;
    }
}

@media only screen and (min-width: 1120px) {
    /***********Header***********/
    #profile, #cart, #search {
        height: 2.5em;
        width: 2.5em;
        top: 4.2em;
    }
  
    #logo {
        height: 9em;
        width: 20em;
        background: url(../Images/logo-l.png) no-repeat left;
    }
    #profile {
        background: url(../Images/profile-m.png) no-repeat center;
    }
    #cart {
        background: url(../Images/shopping-cart-m.png) no-repeat center;
    }
    #search {
        top: 7.5em;
        right: 3%;
        width: 20%;
        background: url(../Images/search-m.png) no-repeat right;
    }

    #pop-up-menu {
        top: 7em;
        right: 25%;
        width: auto;
    }
    #pop-up-menu a {
        font-size: 0.55em;
    }
    /***********Header***********/
}