#icon {
    text-indent: -99999em;
    background: url(../Images/profile-icon.png) no-repeat center;
    height: 2.5em;
}

.wrapper p, .wrapper h3 {
    color: black;
    text-align: center;
    margin-bottom: 1em;
}

#order-history {
    text-align: left;
    padding-left: 10%;
    border-bottom: 0.1em solid grey;
}
#history {
    font-size: 0.7em;
    margin-bottom: 20em;
}
#log-out {
    text-align: right;
    margin-right: 2.5%;
}