img {
    height: 3em;
    margin: 0 40%;
}

#registration-icon {
    text-indent: -99999em;
    background: url(../Images/profile-icon.png) no-repeat center;
    height: 2.5em;
}

p, li {
    border: 0.001em solid black;
    border-radius: 0.2em; 
    margin: 0 0.5em 0.5em;
    padding: 0.5em;
}
h4 {
    color: black;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: normal;
}

#buttons p, #button {
    width: 5em;
}
#button, #buttons p {
    text-align: center;
}
#button, #dob-buttons li {
    border-radius: 1em;
}

#buttons {
    margin-left: 22%;
}
#buttons p {
    display: inline-block;
}
#buttons a {
    text-decoration: none;
    color: grey;
}
#buttons p:nth-child(2) {
    position: relative;
    top: -0.5em;
}
#dob-buttons li {
    float: left;
    list-style: none;
    width: 4em;
}
#dob-buttons::after {
    display: block;
    content: "";
    clear: both;
}
#b1 {
    margin-left: 1em;
}
#b2 {
    margin-left: 0.2em;
}
#b3 {
    margin-left: 1.2em;
}
#button {
    margin-left: 65%;
    cursor: pointer;
}

@media only screen and (min-width: 400px) {
    #buttons {
        margin-left: 26%;
    }
    #dob-buttons {
        margin-left: 4%;
    }
}

@media only screen and (min-width: 410px) {
    #buttons {
        margin-left: 29%;
    }
}

@media only screen and (min-width: 440px) {
    #buttons {
        margin-left: 33%;
    }
    #dob-buttons {
        margin-left: 8%;
    }
    #button {
        margin-left: 70%;
    }
}

@media only screen and (min-width: 480px) {
    #buttons {
        margin-left: 39%;
    }
    #dob-buttons {
        margin-left: 12.5%;
    }
    #button {
        margin-left: 73%;
    }
}

@media only screen and (min-width: 520px) {
    #buttons {
        margin-left: 44%;
    }
}

@media only screen and (min-width: 550px) {
    #buttons {
        margin-left: 47%;
    }
    #dob-buttons {
        margin-left: 15%;
    }
    #button {
        margin-left: 75%;
    }
}

@media only screen and (min-width: 600px) {
    #buttons {
        margin-left: 35%;
    }
    #dob-buttons {
        margin-left: 9%;
    }
    #button {
        margin-left: 70%;
    }
}

@media only screen and (min-width: 650px) {
    #buttons {
        margin-left: 40%;
    }
    #dob-buttons {
        margin-left: 12.5%;
    }
    #button {
        margin-left: 73%;
    }
}

@media only screen and (min-width: 700px) {
    #buttons {
        margin-left: 33%;
    }
    #dob-buttons {
        margin-left: 7%;
    }
    #button {
        margin-left: 70%;
    }
}

@media only screen and (min-width: 750px) {
    #buttons {
        margin-left: 38%;
    }
    #dob-buttons {
        margin-left: 11%;
    }
}

@media only screen and (min-width: 800px) {
    #buttons {
        margin-left: 36%;
    }
    #dob-buttons {
        margin-left: 9%;
    }
    #button {
        margin-left: 70%;
    }
}

@media only screen and (min-width: 850px) {
    #buttons {
        margin-left: 39%;
    }
    #dob-buttons {
        margin-left: 11%;
    }
}

@media only screen and (min-width: 900px) {
    #buttons {
        margin-left: 35%;
    }
    #dob-buttons {
        margin-left: 9%;
    }
    #button {
        margin-left: 70%;
    }
}

@media only screen and (min-width: 950px) {
    #buttons {
        margin-left: 38%;
    }
    #dob-buttons {
        margin-left: 11%;
    }
}

@media only screen and (min-width: 1000px) {
    #buttons {
        margin-left: 33%;
    }
    #dob-buttons {
        margin-left: 8%;
    }
    #button {
        margin-left: 70%;
    }
}

@media only screen and (min-width: 1050px) {
    #buttons {
        margin-left: 36%;
    }
    #dob-buttons {
        margin-left: 11%;
    }
}

@media only screen and (min-width: 1100px) {
    #buttons {
        margin-left: 29%;
    }
    #dob-buttons {
        margin-left: 5%;
    }
    #button {
        margin-left: 67%;
    }
}

@media only screen and (min-width: 1150px) {
    #buttons {
        margin-left: 32%;
    }
    #dob-buttons {
        margin-left: 8%;
    }
}

@media only screen and (min-width: 1400px) {
    #buttons {
        margin-left: 44%;
    }
    #dob-buttons {
        margin-left: 14%;
    }
    #button {
        margin-left: 75%;
    }
}

@media only screen and (min-width: 1450px) {
    #buttons {
        margin-left: 46%;
    }
    #dob-buttons {
        margin-left: 16%;
    }
}