#wrapper {
    width: 75%;
    margin: 2em auto;
}

main p {
    font-size: 0.9em;
    margin: 0 1em 1em;
}
main h3 {
    font-size: 1em;
    margin: 0.3em 0.8em 0.5em;
}

@media only screen and (min-width: 700px) {
    #wrapper {
        width: 50%;
    }
}